@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
}

.row{
    margin:8px 0
}

.row input{
    width: 291px;
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.border{
    border-style: solid;
    padding: 15px;
}
