html, body{
    height:100%;
    width:100%;
    font-family: 'Rubik', sans-serif;
}
.text_center{
    text-align : center;
    /* font-family: 'Rubik', sans-serif; */
}

.mx_auto{
    margin:auto;
}

.bg_red{
    background-color: red;
}

.flex{
    display:flex;
}

.flex_col{
    flex-direction:column;
}

.items_center{
    align-items:center;
}